.courseWrapper {
    display: flex;
    flex-direction: row;
}

.class-user-header-block {
    display: flex;
    margin: 50px 50px 0px;
    gap: 200px;
}

.class-user-header-block_btnTitle {
    display: flex;
}

.class-user-header-block_btnTitle-title {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    font-size: 30px;
    line-height: 77px;
    color: #000000;
    margin-right: 30px;
}

.class-user-lessons-list {
    margin: 0px 50px;
}

.class-user-lessons-list-item {
    background: #06012d;
    padding: 3px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 50vw;
}

.class-user-lessons-list-item-title {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    color: #FFFFFF;
}
.class-user-header-block_subsInfo{
    width: 87vw;
}

.class-user-header-block_subsInfo_tx1 {
    color: #090909;
    padding: 20px 15px;
    font-weight: 500;
    font-size: 20px;
}
.class-user-header-block_subsInfo_tx {
    color: #090909;
    padding: 0px 125px;
    margin: 0px 0px 12px 865px;
    font-weight: 500;
    font-size: 20px;
}
.class-user-header-block_subsInfoBtn-btn {
    background: #06012d;
    border-radius: 15px;
    /* font-family: 'Inter';  */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #FFFFFF;
    padding: 0px 16px;
    margin: 5px 0px 0px 850px;
}

.class-user-header-block_subsInfoBtn-btn2 {
    background: #06012d;
    border-radius: 15px;
  /* font-family: 'Inter';  */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #FFFFFF;
    padding: 0px 16px;
    margin: 5px 0px 0px 850px;
}
.class-user-header-block_subsInfoBtn-btn3 {
    background: #2db8c2;
    border-radius: 15px;
  /* font-family: 'Inter';  */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #FFFFFF;
    padding: 0px 16px;
    margin: 5px 0px 0px 850px;
}

.class-user-header-block_subsInfoBtn-ready {
    background: #06012d;
     /* font-family: 'Inter';  */
    /* font-style: normal; */
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #FFFFFF;
    padding: 0px 16px;
    margin: 260px 0px 0px 1200px;
    width: 55px;
}