.courseWrapper {
    display: flex;
    flex-direction: row;
}

.course-header-block {
    display: flex;
    margin: 50px 0px 0px 50px;
    gap: 200px;
}

.course-header-block_btnTitle {
    display: flex;
}

.course-header-block_btnTitle-title {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    font-size: 30px;
    line-height: 77px;
    color: #000000;
    margin-right: 30px;
}

.course-header-block_btnTitle-follower{
      /* font-family: 'Inter';
    font-style: normal; */
    display: flex;
    font-size: 20px;
    line-height: 77px;
    color: #000000;
    margin: 0px 0px 33px 0px;
}

.course-header-block_btnTitle-btn-look{
    color: white;
    background: #06012d;
    border-radius: 15px;
    /* font-family: 'Inter';  */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    padding: 0px 16px;
    margin: 22px 0px 50px 12px;
}

.course-header-block_btnTitle-btn-look:hover{
    cursor: pointer;
}

.course-header-block_btnTitle-btn
{
    color: white;
    background: #06012d;
    border-radius: 15px;
    /* font-family: 'Inter';  */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    padding: 0px 16px;
    margin: 22px 0px 50px 769px;
}

.course-header-block_btnTitle-btn:hover 
{  cursor: pointer;
}

.course-header-block_subsInfoBtn {
    display: flex;
}

.course-header-block_subsInfoBtn-subs {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    padding: 20px 15px;
}


.course-header-block_subsInfoBtn-btn {
    background: #D9D9D9;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    padding: 20px 15px;
}

.course-lessons-list {
    margin: 0px 0px 0px 50px;
}

.course-lessons-list-item {
    background: #06012d;
    padding: 3px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 86vw;
}

.course-lessons-list-item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    color: #FFFFFF;
}
    .course-lessons-list-item-btn {
        background: #D9D9D9;
        border-radius: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 38px;
        color: #000000;
        padding: 0px 8px;
    }

.course-lessons-list-item-btn:hover {
    cursor: pointer;
}

.course-lessons-list-item2 {
    background: #06012d;
    padding: 3px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 86vw;
    margin-top: 10px;
}

.course-lessons-list-item-title2 {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    color: #FFFFFF;
}

.course-lessons-list-item-btn2 {
    background: #D9D9D9;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #000000;
    padding: 0px 8px;
}
.course-lessons-list-item-btn2:hover {
    cursor: pointer;
}