.courseWrapper {
    display: flex;
    flex-direction: row;
}

.followerlPageMan-header-block {
    display: flex;
    margin: 20px;
    gap: 200px;
    margin-left: 60px;
}

.followerlPageMan-header-block_btnTitle {
    display: flex;
    font-size: 30px;
    line-height: 77px;
}

.followerlPageMan-info{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
   
}

.followerlPageMan-infomaton{
    margin-left: 10%;
}

.followerlPageMan-infomaton-name{
    margin-top: 30px;
}

.followerlPageMan-infomaton-sirname{
    margin-top: 10px;
}

.followerlPageMan-infomaton-sex{
    margin-top: 10px;
}

.followerlPageMan-infomaton-age{
    margin-top: 10px;
}

.followerlPageMan-infomation{
    margin-left: 10%;
    gap: 200px;
}


.followerlPageMan_page{
    display: flex;
    margin: 0px;
    gap: 200px;
    margin-left: 60px;
}

.followerlPageMan-lessons-list {
    margin: 440px 218px 0px 700px;

}

.followerlPageMan-lessons-list-item {
    display: flex;
    justify-content: space-between;
    background: #06012d;
    border-radius: 15px;
}

