.Reg__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.Reg__content{
    background-color: #06012d;
    border-radius: 9px;
    width: 350px;
    display: flex;
    justify-content: center;
}
.Reg__title1{
    font-family:"monospace";
    line-height: 39px;
    text-align: center;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 15px;
}
.Reg__title{
margin: 0px 0px 0px 24px;
}

.Reg__content__form__title{
    /* background: #06012d; */
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}
.Reg__content_form_logo{
  /*  block-size: 81px;*/
    align-items: center;
    display: flex;
    justify-content: center;
    }
.Reg__content__form__inputs{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}
.Reg__content__form__btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.Reg__content__form__btns__enter{
    background-color:#665334;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    padding: 6px 15px;
}
.Reg__content__form__btns__enter:hover{
    background: #adab3c;
}

.Reg__content__form__btns__reg{
    background-color:#665334;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	padding: 6px 23px;
}
.Reg__content__form__btns__reg:hover{
    background: #adab3c;
}