.courseWrapper {
    display: flex;
    flex-direction: row;
}

.course-header-block {
    display: flex;
    margin: 50px 50px;
    gap: 200px;
}

.course-header-block_btnTitle {
    display: flex;
}

.course-header-block_subsInfoBtn {
    display: flex;
}

.course-header-block_btnTitle-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
    margin-right: 30px;
}

.course-header-block_btnTitle-btn {
    color: white;
    background: #1F3444;
    border-radius: 18px;
    padding: 30px 22px;
}

.course-header-block_subsInfoBtn-subs {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    padding: 20px 15px;
}

.course-lessons-list-item {
    background: #1F3444;
    border-radius: 15px;
    display: flex;
}

.course-lessons-list-item-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}


.course-header-block_subsInfoBtn-btn {
    background: #1F3444;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    padding: 20px 15px;
    margin: 5% -650% 0% 620%;
}

.course-lessons-list {
    margin: 220px 50px;
}

.course-lessons-list-item {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.course-lessons-list-item-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 0px;
    color: #FFFFFF;
    margin-top: 13px
}

.course-lessons-list-item-btn {
    background: #D9D9D9;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    padding: 10px 10px;
    margin-top: 43px;
    margin-bottom: 90px;
    margin-left: -218px;
}

.course-lessons-list-item-btn2 {

    background: #D9D9D9;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 58px;
    margin-top: 111px;
    margin-bottom: 16px;
    margin-left: -158px;
    margin-right: 4px;
    padding: 0px 10px;
}