.loginPage__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.loginPage__content{
    background-color: #06012d;
    border-radius: 9px;
    width: 350px;
    display: flex;
    justify-content: center;
}
.loginPage__title1{
    font-family:"monospace";
    line-height: 39px;
    text-align: center;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}
.loginPage__title{
margin: 0px 0px 0px 24px;
}

.loginPage__content__form__title{
    /* background: #06012d; */
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}
.loginPage__content_form_logo{
  /*  block-size: 81px;*/
    align-items: center;
    display: flex;
    justify-content: center;
    }
.loginPage__content__form__inputs{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}
.loginPage__content__form__inputs__email{
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 21px;
    padding: 5px 8px;
}
.loginPage__content__form__inputs__pass{
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: 21px;
    padding: 5px 8px;
}
.inputError{
    border-color: red;
}
.loginPage__content__form__btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.loginPage__content__form__btns__enter{
    background-color:#665334;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    padding: 6px 10px;
}
.loginPage__content__form__btns__enter:hover{
    background: #adab3c;
}

.loginPage__content__form__btns__log{
    background-color:#665334;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	padding: 6px 23px;
}
.loginPage__content__form__btns__log:hover{
    background: #adab3c;
}