.sideBar_wrapper{
    width: 100px;
    height: 100vh;
    background: #06012d;
}

.sideBar-list-item-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap:10px; */
}

.sideBar-list-item-logo-general{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:flex-start; 
}

.sideBar-list-item-title{    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-style: normal; */
    font-weight: 100;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}

.sideBar-list{
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.sideBar-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.sideBar-list-item:hover{
    cursor: pointer;
}

.sideBar-list2{
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.sideBar-list-item-logo2{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBar-list-item2{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap:10px;
}

.sideBar-list-item-title2{    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
}